<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../css/assets/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/profile.css">



    <title></title>
</head>

<body>
        <header class="">
                <div class="row border  ">
                    <!--Avatar-->
                    <div class="col s3 m2 ">
                        <div class=" imgbox ">
                            <img src="../assets/imagenes/150.jpg" alt="" class="responsive-img" id="img150x150">
                        </div>
                    </div><!--Final de la particion principal imagen-->
                    <!--Centro que se dividira en 3-->
                    <div class="col s6  m8  ">
                        <div class="row   innerbox">
                            <div class="col m4 insideheighrow  hide-on-small-only ">
                                <!--Datos  fijos-->
                                <div class="row">
                                    <div class="col m6 data1">
                                        <div class="dataBox1 left">Nombre:
                                        </div>  
                                    </div>                    
                                    <div class="col m6 data1">
                                        <div id="name" class="dataBox1 right">Nombre1
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col m6 data1">
                                        <div class="dataBox1 left">Pseudonimo:
                                        </div>
                                    </div>
                                    <div class="col m6 data1">
                                        <div id="nickname" class="dataBox1 right">Pseudonimo1
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col m6">
                                        <div class="dataBox1 left">Especialidad:
                                        </div>
                                    </div>
                                    <div class=" col m6 data1">                                                                 
                                        <div id="speciality" class="dataBox1 right">Especialidad1
                                        </div>
                                    </div>
                                </div>   
                            </div>                
                            
                                <!--Datos personales, se mostrara en todos los tamaños-->
                            <div class="col m4  ">
                                <div class="">
                                    <label for="AboutTextArea">About</label>
                                    <p class="headerAbout" id="AboutTextArea">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum sint, sequi ducimus aliquam iure voluptas quaerat, veritatis
                                        inventore quis quibusdam quas eius iusto? Praesentium laboriosam veniam quaerat iste accusamus.Qui
                                        ab vero necessitatibus saepe, quis commodi nam magnam quaerat nobis perferendis mollitia
                                        enim assumenda doloribus. Accusantium aliquam at sit sequi exercitationem quae fuga ipsam.
                                        Ut adipisci enim consequuntur deserunt?
                                    </p>
                                </div>
                            </div>
                            <!--Segunda area datos de proyectos, se econde en mobile-->
                            <div class="col m4 insideheighrow  hide-on-small-only ">
                                <!--Datos  fijos-->
                                <div class="row">
                                    <div class="col m6 data1">
                                        <div class="dataBox1 left">Nombre:
                                        </div>  
                                    </div>                    
                                    <div class="col m6 data1">
                                        <div id="jobs" class="dataBox1 right">Nombre1
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col m6 data1">
                                        <div class="dataBox1 left">Pseudonimo:
                                        </div>
                                    </div>
                                    <div class="col m6 data1">
                                        <div id="proyect" class="dataBox1 right">Pseudonimo1
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col m6">
                                        <div class="dataBox1 left">Especialidad:
                                        </div>
                                    </div>
                                    <div class=" col m6 data1">                                                                 
                                        <div id="pops" class="dataBox1 right">Especialidad1
                                        </div>
                                    </div>
                                </div>   
                            </div>      
                            
                        </div><!--Row principal centro-->
    
                    </div><!--Final particion central-->
                    
                    <!--Submit image button in profile-->
                    <div class="col s3  m2 heighrow ">
                        <div>
                            
                            
                                 <!-- Dropdown Trigger -->
                                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
                           
                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                <a class="waves-effect waves-light btn modal-trigger" href="#upload"><i class="material-icons">collections</i>Subir Imagen</a>
                                <li class="divider" tabindex="-1"></li>
                                <li><a href="/view/timeline.html"><i class="material-icons">timeline</i>Timeline</a></li>
                                <li><a href="/view/profile.html"><i class="material-icons">fingerprint</i>Perfil</a></li>
                                <li><a href="/view/config.html"><i class="material-icons">settings</i>Preferencias</a></li>
                            </ul>
                        </div>
                    </div><!--Final particion Submit-->
                </div><!--Row principal End--> 
                <!--Inicio modal de carga-->  
                <div id="upload" class="modal">
                    <div class="modal-content">
                        <div class="row">
                             <div class="col s12 m12">
                                <div class="card">
                                    <div class="card-image">
                                        <img id="img" src="">
                                        <span class="card-title" id="arttitle"></span>
                                        <!--Boton para subir imagenes-->
                                        <form id="form-image">
                                                <label  class=" btn-file">
                                                    <input type="file" name="fichero" id="fichero" class="hide">
                                                    <a id="uploadbutton" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                                </label>
                                         </form>
                                         <!--Fin boton de carga de imagenes-->
                                    </div>
                                     <div class="card-content">
                                        <div class="input-field ">
                                            <label for="textarea1">Titulo</label>
                                            <textarea id="poptitle" class="materialize-textarea"></textarea>
                                        </div>
                                        <div class="input-field ">
                                            <label for="commentsprofile">Comentarios</label>
                                            <textarea id="commentsprofile" class="materialize-textarea"></textarea>
                                        </div>
                                        <div class="input-field ">
                                            <label for="tools">Herramientas</label>
                                            <textarea id="tools" class="materialize-textarea"></textarea>
                                        </div>
                                        <div class="input-field ">
                                            <label for="process">Proceso</label>
                                            <textarea id="process" class="materialize-textarea"></textarea>
                                        </div>
                                        
                                        <!-- <button class="btn btn-large waves-effect waves-light modal-close" type="submit" name="action">Submit
                                             <i class="material-icons center">send</i>
                                        </button> -->
                                    </div>
                                 </div>
                            </div>
                        </div>                  
                    </div>
                </div><!--Fin de Modal-->   
        </header>
        <main>
            <!--breadcrum bar-->
            <div>
                <nav class="breadcrumbar">
                    <div class="nav-wrapper">
                        <div class="col s12 m6 left">
                            <a href="../timeline.html" class="breadcrumb">TimeLine</a>
                            <a href="../view/profile.html" class="breadcrumb">Profile</a>
                        </div>
                        <div class="col m6 right hide-on-small-only">
                            <span id"username">username</span>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <!--imagen impresa en pantalla-->
                        <div class="thumbnail  modal-trigger" href="#changingForPopTitle" >
                            <div>
                                <img class="responsive-img" height="200" width="300"  src="../assets/imagenes/300.jpg" alt="">
                                <span class="title">cosososos</span>
                            </div>    
                             <!--Inicio modal de imagen thumbnail-->  
                            <div id="changingForPopTitle" class="modal">
                                 <div class="modal-content">
                                    <div class="row">
                                        <div class="col s12 m12">
                                            <div class="card">
                                                <div class="card-image">
                                                    <img src="../assets/imagenes/300.jpg"> <!--Esto se cambiara por la imagen cargada-->
                                                    <span class="card-title" id="arttitle"></span>
                                                </div>
                                                <div class="card-content"><!--inicio de la carta-->
                                                    <div>
                                                        <h3 id="popfinalTitle">d</h3><!--Espacio que se remplazara con titulo-->
                                                    </div> 
                                                    <div>
                                                        <p id="finalCommentArtist">ddd<!--Se remplazara con el  comentario del artista-->
                                                        </p>
                                                    </div>
                                                    <div >
                                                        <p id="finalToolArtist">dddd<!--Se remplazara con las herramientas utilizadas por el artista-->
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p id="finalprocessArtist">ddd      <!--Se remplaza con el proceso-->                                               
                                                        </p>
                                                    </div>
                                                </div><!--Final card content-->
                                                <!--Barra de comentarios-->
                                                <div id="post-section">
                                                    <div class="">
                                                        <textarea class="txt" id="text" rows="1" onkeydown="counter(this)" onkeyup="counter(this)" placeholder="¿Te gusta mi Pop? Comenta!"></textarea>
                                                        <button type="button" id="btn" class="btn">Post</button>
                                                        <span id="counter">140</span>
                                                    </div>
                                                </div>
                                                <!--Final barra de comentarios-->
                                                <div class="modal-footer">
                                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                                </div><!--Cerrar modal -->
                                            </div>
                                        </div>
                                    </div>                  
                                </div>
                            </div><!--Fin de Modal-->      
                        </div>
                    </div><!--Fin de mi imagen-->
                    <div class="col s12 m4 ">
                        <div class="thumbnail">
                            <img class="responsive-img " height="200" width="300" src="../assets/imagenes/300.jpg" alt="">
                        </div>
                    </div>
                    <div class="col s12 m4 ">
                        <div class="thumbnail">
                            <img class="responsive-img " height="200" width="300"  src="../assets/imagenes/300.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>



    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="../js/assets/JqueryUncompressed.js"></script>
    <script src="../js/assets/materialize.min.js"></script>
    <script src="../js/profile.js"></script>


</body>

</html>